.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.App-header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headtext {
  color: white;
  font-size: 50px;
}

.upload-page {
  background-color: blue;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.upload-page-inner {
  background-color: orange;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropZone {
  background-color: pink;
  margin: 5px;
  padding: 5px;
  align-items: center;
}

.downloaded-photo {
  background-color: green;
  margin: 5px;
  padding: 5px;
}







@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
